 
<div  class=" section  " >
	<div class="grid-container full   ">
		<div class="grid-x  grid-margin-x">
			<div class="large-auto"></div>
			<div class="cell small-12 medium-12 large-9      align-center align-middle" style="position:relative;">
				<nav class="nav-wrapper">

					<!-- Hamburger -->
					<div class="toggle-bar-wrapper   ">  
						<div class="toggle-bars">
						<b></b>
						<b class="middle"></b>
						<b></b>
						</div>
					</div>
					
					<!-- Logo -->
					<div class="nav-logo  "> 
						<a  href="/"><img  class="purple  top-logo" src="assets/img/lillisclark/Logo@2x.png" alt=""> <img  class="white  top-logo" src="assets/img/lillisclark/Logo@2x.png" alt="   "> </a> 
					</div>
					
					<!-- search -->
					<div class="search-widget  ">  
							<a href="#" style="display:none;"><i class="fas fa-search"></i></a> 
				 <p class="social">
			 <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
			 <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
			 <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
			 
			 
			 </p>						
					</div>
					
				 </nav>
			</div>
			<div class="large-auto"></div>
		</div>
	</div>
</div> 
<div class="overlay-nav-wrapper">
    <div class="overlay-nav-content">
		<div class="mobile-logo">	
		<a  href="#" class="close-item close-logo" ><img class="logo" src="assets/img/lillisclark/bw-logo-clr.png" alt=""> </a> 
		
		<a href="#" class="close-item close-nav"><i class="far fa-times-circle"></i></a>
		</div>
 
		<div class="menu-section">
			<ul>
 
 
			<li><a href="#what-we-do"  class="close-item"  data-smooth-scroll >What we do  </a></li>			
			  <!-- 	<li class="dropdown  " >
					<a  href="#">Case Studies <i  class="fas fa-chevron-circle-down"></i>  <i  class="fas fa-chevron-circle-up"></i> </a> 					 
					<ul>
						<li><a href="case-studies.html"> Title <span>(Sub Title) </span></a></li>						
					</ul> -->
			</li> 
			<li><a href="#our-approach"  class="close-item"  data-smooth-scroll >Our approach  </a></li>
 
			<li><a href="#about-us"  class="close-item"  data-smooth-scroll >About us  </a></li> 
 		
	 
			</ul>

		 
		</div>
    </div>
 </div>
 
<a href="#main" class="back-to-top hide" ><i class="far fa-arrow-alt-circle-up"></i></a>

